<div class="container-fluid">

    <div class="row">
        <div class="col-md-9">

            <div class="input-group marginBottom10" ng-repeat="filter in filters">
                <div class="col-md-10">
                    <ww-combo-input list-elements="names" search-field="filter.name"
                                    search-text="filter.query"></ww-combo-input>
                </div>
                <div class="col-md-2">
                    <button class="btn btn-danger" ng-click="removeFilter($index)">-</button>
                </div>
            </div>
        </div>
        <div class="col-md-3 marginBottom10 row">
            <button class="btn btn-success" ng-click="addFilter()">+</button>
            <button class="btn btn-success" ng-click="search()">
                <span class="glyphicon glyphicon-search"></span>
                Search
            </button>
        </div>

    </div>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
            <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                <th jh-sort-by="id"><span>Study Type</span> <span class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="studyRef"><span>Study Ref</span> <span class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="country"><span>Country</span> <span class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="country"><span>Location</span> <span class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="category"><span>Category</span> <span class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="upper95CI"><span>Upper95CI</span> <span class="glyphicon glyphicon-sort"></span>
                </th>
                <th jh-sort-by="yearStart"><span>Year Start</span> <span class="glyphicon glyphicon-sort"></span>
                </th>
                <th jh-sort-by="yearEnd"><span>Year End</span> <span class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="pubMedId"><span>PubMedId</span> <span class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="listTreatments"><span>Treatments</span> <span
                    class="glyphicon glyphicon-sort"></span></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="siteDataViewDTO in siteDataViewDTOS track by siteDataViewDTO.id">
                <!--<td><a ui-sref="siteDataView.detail">{{siteData.id}}</a></td><tr>-->
                <td>{{siteDataViewDTO.typeStudy}}</td>
                <td>{{siteDataViewDTO.ref}}</td>
                <td>{{siteDataViewDTO.location.country}}</td>
                <td>{{siteDataViewDTO.location.location}}</td>
                <td>{{siteDataViewDTO.category}}</td>
                <td>{{siteDataViewDTO.upper95CI}}</td>
                <td>{{siteDataViewDTO.yearStart}}</td>
                <td>{{siteDataViewDTO.yearEnd}}</td>
                <td>{{siteDataViewDTO.listPubMedIds}}</td>
                <td>{{siteDataViewDTO.listTreatmentArmCodes}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
