<div>
    <h2>SiteData</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="site-data.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs" >
                        Create new SiteData
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="Query">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span>ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="comments"><span>Comments</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="day28Recurrence"><span>Day28Recurrence</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="lowest95CI"><span>Lowest95CI</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="numEnroled"><span>NumEnroled</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="numPatientsTreatCQ"><span>NumPatientsTreatCQ</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="primaquine"><span>Primaquine</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="timePrimaquine"><span>TimePrimaquine</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="typeStudy"><span>TypeStudy</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="upper95CI"><span>Upper95CI</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="yearEnd"><span>YearEnd</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="yearStart"><span>YearStart</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="category.name"><span>category</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="location.location"><span>location</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="study.studyType"><span>study</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="treatment.treatmentArmCode"><span>Treatments</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="siteData in vm.siteData track by siteData.id">
                    <td><a ui-sref="site-data-detail({id:siteData.id})">{{siteData.id}}</a></td>
                    <td>{{siteData.comments}}</td>
                    <td>{{siteData.day28Recurrence}}</td>
                    <td>{{siteData.lowest95CI}}</td>
                    <td>{{siteData.numEnroled}}</td>
                    <td>{{siteData.numPatientsTreatCQ}}</td>
                    <td>{{siteData.primaquine}}</td>
                    <td>{{siteData.timePrimaquine}}</td>
                    <td>{{siteData.typeStudy}}</td>
                    <td>{{siteData.upper95CI}}</td>
                    <td>{{siteData.yearEnd}}</td>
                    <td>{{siteData.yearStart}}</td>
                    <td>
                        <a ui-sref="category-detail({id:siteData.category.id})">{{siteData.category.name}}</a>
                    </td>
                    <td>
                        <a ui-sref="location-detail({id:siteData.location.id})">{{siteData.location.location}}</a>
                    </td>
                    <td>
                        <a ui-sref="study-detail({id:siteData.study.id})">{{siteData.study.studyType}}</a>
                    </td>
                    <td>
                        <ul>
                            <li ng-repeat="treatment in siteData.treatments"><a ui-sref="treatment-detail({id:treatment.id})">{{treatment.treatmentArmCode}}</a></li>
                        </ul>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="site-data-detail({id:siteData.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="site-data.edit({id:siteData.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="site-data.delete({id:siteData.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount"></jhi-item-count>
    </div>
    <uib-pager total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pager>
</div>
