<div class="container">
    <h1>Publication Upload Form</h1>
    <div class="form-group row">
        <label class="col-md-2 form-control-label">Search Publication by pubMedId:</label>
        <div class="col-md-4">
            <div class="input-group">
                <input class="form-control ng-pristine ng-valid ng-empty ng-touched" type="text" ww-enter="retrievePublicationByPubMedId()" ng-model="pubMedId" placeholder="Search" aria-invalid="false">
                <span id="basic-addon2" class="input-group-addon btn btn-primary" ng-click="retrievePublicationByPubMedId()" role="button" tabindex="0">Search</span>
            </div>
        </div>
        <div class="col-md-2">
            <a class="btn btn-success" ng-click="newPublication()">Create new Publication</a>
        </div>
    </div>
    <hr>
    <div ng-show="myHidingValue" class>
        <h3>Publication Details</h3>
        <div class="form-group-row" ng-model="publi">
            <label class="col-md-2 form-control-label"> <!--for="field_samplesTotal"-->PubMedId:</label>
            <div class="col-md-10">
                <input type="number" class="form-control ng-pristine ng-valid ng-not-empty ng-touched" name="pubMedIdForm" id="existingPublicationPubMedId" ng-model="publi.publication.pubMedId" readonly aria-invalid="false">
            </div>
        </div>
        </br></br>
        <div class="form-group-row" ng-model="publi">
            <label class="col-md-2 form-control-label">Title:</label>
            <div class="col-md-10">
                <input type="text" class="form-control ng-pristine ng-valid ng-not-empty ng-touched" name="pubTitleForm" id="existingPublicationTitle" ng-model="publi.publication.title" aria-invalid="false">
            </div>
        </div>
        </br></br>
        <div class="form-group-row" ng-model="publi">
            <label class="col-md-2 form-control-label">Authors:</label>
            <div class="col-md-10">
                <input type="text" class="form-control ng-pristine ng-valid ng-not-empty ng-touched" name="pubAuthorsForm" id="existingPublicationAuthors" ng-model="publi.publication.authors" aria-invalid="false">
            </div>
        </div>
        </br></br>
        <div class="form-group-row" ng-model="publi">
            <label class="col-md-2 form-control-label">Journal:</label>
            <div class="col-md-10">
                <input type="text" class="form-control ng-pristine ng-valid ng-not-empty ng-touched" name="pubJournalForm" id="existingPublicationJournal" ng-model="publi.publication.journal" aria-invalid="false">
            </div>
        </div>
        </br></br>
        <div class="form-group-row" ng-model="publi">
            <label class="col-md-2 form-control-label">Year Publish:</label>
            <div class="col-md-10">
                <input type="number" class="form-control ng-pristine ng-valid ng-not-empty ng-touched" name="pubYearPublishForm" id="existingPublicationYear" ng-model="publi.publication.yearPublish" aria-invalid="false">
            </div>
        </div>
        </br></br>
        <hr>
        <h3>Study Details</h3>
        <div class="form-group-row">
            <label class="col-md-2 form-control-label">Insert new Study:</label>
            <div class="col-md-2">
                <a class="btn btn-success" ng-click="newStudy()">
                    <span class="glyphicon glyphicon-plus"/>
                </a>
            </div>
        </div>
        </br></br>
        <div class="well" ng-repeat="study in studies">
            <h4>Study {{index+1}}:</h4>
            <div class="form-group-row" ng-model="study">
                <label class="col-md-2 form-control-label">Study Ref:</label>
                <div class="col-md-10">
                    <input type="text" class="form-control ng-pristine ng-valid ng-not-empty ng-touched" name="StudyRefForm" id="existingPublicationStudyRef" ng-model="study.ref" readonly aria-invalid="false">
                </div>
            </div>
            </br></br>
            <div class="form-group-row" ng-model="study">
                <label class="col-md-2 form-control-label">Study Type:</label>
                <div class="col-md-10">
                    <input type="text" class="form-control ng-pristine ng-valid ng-not-empty ng-touched" name="StudyTypeForm" id="existingPublicationStudyType" ng-model="study.studyType" aria-invalid="false">
                </div>
            </div>
            </br></br>
            <div class="form-group-row" ng-model="study">
                <label class="col-md-2 form-control-label">Publications:</label>
                <div class="col-md-10">
                    <input type="text" class="form-control ng-pristine ng-valid ng-not-empty ng-touched" name="StudyPublicationsForm" id="existingPublicationStudyPublications" ng-model="study.publicationss" aria-invalid="false">
                </div>
            </div>
            </br></br>
        </div>
        <hr>
        <h3>SiteData details</h3>
        <div class="form-group-row">
            <label class="col-md-2 form-control-label">Insert new SiteData:</label>
            <div class="col-md-2">
                <a class="btn btn-success" ng-click="newSiteData()">
                    <span class="glyphicon glyphicon-plus"/>
                </a>
            </div>
        </div>
        </br></br>
        <div class="well" ng-repeat="siteData in siteDatas">
            <h4>siteData {{$index+1}}:</h4>
           <div class="form-group-row" ng-model="siteData">
                <label class="col-md-2 form-control-label">Category:</label>
                <div class="col-md-10">
                    <input type="text" class="form-control ng-pristine ng-valid ng-not-empty ng-touched" name="SiteDataCategoryForm" id="existingPublicationSDCategory" ng-model="siteData.category.name" aria-invalid="false">
                </div>
            </div>
            </br></br>
            <div class="form-group-row" ng-model="siteData">
                <label class="col-md-2 form-control-label">Country:</label>
                <div class="col-md-10">
                    <input type="text" class="form-control ng-pristine ng-valid ng-not-empty ng-touched" name="SiteDataCountryForm" id="existingPublicationSDCountry" ng-model="siteData.location.country" aria-invalid="false">
                </div>
            </div>
            </br></br>
            <div class="form-group-row" ng-model="siteData">
                <label class="col-md-2 form-control-label">Location:</label>
                <div class="col-md-10">
                    <input type="text" class="form-control ng-pristine ng-valid ng-not-empty ng-touched" name="SiteDataLocationForm" id="existingPublicationSDLocation" ng-model="siteData.location.location" aria-invalid="false">
                </div>
            </div>
            </br></br>
            <div class="form-group-row" ng-model="siteData">
                <label class="col-md-2 form-control-label">upper95CI:</label>
                <div class="col-md-10">
                    <input type="text" class="form-control ng-pristine ng-valid ng-not-empty ng-touched" name="SiteDataUpper95Form" id="existingPublicationSDUpper95" ng-model="siteData.upper95CI" aria-invalid="false">
                </div>
            </div>
            </br></br>
       </div>
        <hr>
        <h3>Treatment details</h3>
        <div class="form-group-row">
            <label class="col-md-2 form-control-label">Insert new Treatment:</label>
            <div class="col-md-2">
                <a class="btn btn-success" ng-click="newTreatment()">
                    <span class="glyphicon glyphicon-plus"/>
                </a>
            </div>
        </div>
        </br></br>
        <div class="well" ng-repeat="treatment in treatments">
            <h4>Treatment {{$index+1}}:</h4>
            <div class="form-group-row" ng-model="treatment">
                <label class="col-md-2 form-control-label">Id:</label>
                <div class="col-md-10">
                    <input type="text" class="form-control ng-pristine ng-valid ng-not-empty ng-touched" name="TreatmentIdForm" id="existingPublicationTreatId" ng-model="treatment.id" readonly aria-invalid="false">
                </div>
            </div>
            </br></br>
            <div class="form-group-row" ng-model="treatment">
                <label class="col-md-2 form-control-label">Treatment Name:</label>
                <div class="col-md-10">
                    <input type="text" class="form-control ng-pristine ng-valid ng-not-empty ng-touched" name="TreatmentNameForm" id="existingPublicationTreatName" ng-model="treatment.treatmentName" aria-invalid="false">
                </div>
            </div>
            </br></br>
            <div class="form-group-row" ng-model="treatment">
                <label class="col-md-2 form-control-label">Treatment Arm Code:</label>
                <div class="col-md-10">
                    <input type="text" class="form-control ng-pristine ng-valid ng-not-empty ng-touched" name="TreatmentArmCodeForm" id="existingPublicationTreatArmCode" ng-model="treatment.treatmentArmCode" aria-invalid="false">
                </div>
            </div>
            </br></br>
        </div>
    </div>
</div>


<!--<table class="jh-table table table-striped">
            <thead>
            <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-model="publi">
                <td><a ui-sref="siteDataView.detail">{{siteData.id}}</a></td><tr>
                <td>{{publi.data.publication}}</td>
                <td>{{publi.data.studies}}</td>
                <td>{{publi.data.siteDatas}}</td>
                <td>{{publi.data.treatments}}</td>
            </tr>
            </tbody>
        </table>-->
