<div class="container-fluid">
    <h1>Publication Upload Form</h1>
    <div class="form-group row">
        <label class="col-md-2 form-control-label">Search Publication by pubMedId:</label>
        <div class="col-md-4">
            <div class="input-group">
                <input type="text" class="form-control" id="field_publication" ng-model="publication"
                       placeholder="Search"
                       uib-typeahead="publication as publication.pubMedId +',' + publication.title for publication in allPublications | filter:$viewValue | limitTo:8"
                       ww-enter="retrievePublicationByPubMedId()"
                       typeahead-editable="false">
                <span id="basic-addon2" class="input-group-addon btn btn-primary" ng-click="retrievePublicationByPubMedId()" role="button" tabindex="0">Search</span>
            </div>
        </div>
        <div class="col-md-2">
            <a class="btn btn-success" ng-click="newPublication()">Create new Publication</a>
        </div>
    </div>
    <hr>
    <div ng-show="myHidingValue" class>
        <h2>Publication Details</h2>
        <br>
        <div class="form-group row" ng-model="publi">
            <label class="col-md-2 form-control-label">PubMedId:</label>
            <p class="form-control-static, col-md-10">{{publi.publication.pubMedId}}</p>
        </div>
        <div class="form-group row" ng-model="publi">
            <label class="col-md-2 form-control-label">Title:</label>
            <p class="form-control-static, , col-md-10">{{publi.publication.title}}</p>
        </div>
        <div class="form-group row" ng-model="publi">
            <label class="col-md-2 form-control-label">Authors:</label>
            <p class="form-control-static, col-md-10">{{publi.publication.authors}}</p>
        </div>
        <div class="form-group row" ng-model="publi">
            <label class="col-md-2 form-control-label">Journal:</label>
            <p class="form-control-static, col-md-10">{{publi.publication.journal}}</p>
        </div>
        <div class="form-group row" ng-model="publi">
            <label class="col-md-2 form-control-label">Year Publish:</label>
            <p class="form-control-static, col-md-10">{{publi.publication.yearPublish}}</p>
        </div>
        <hr>
        <h2>Study Details</h2>
        <div class="form-group row">
            <div class="col-md-2">
                <a class="btn btn-success" ng-click="newStudy(publi.studyDTOList)">
                    Add Study
                </a>
            </div>
        </div>
        <div class="well" ng-repeat="studyDTO in publi.studyDTOList">
            <h3>Study {{$index+1}}:</h3>
            <div class="form-group row" ng-model="studyDTO.studyDetails">
                <label class="col-md-2 form-control-label">Id:</label>
                <div class="col-md-4">
                    <input type="text" class="form-control ng-pristine ng-valid ng-not-empty ng-touched" name="StudyRefForm" id="existingPublicationStudyId" ng-model="studyDTO.studyDetails.id" readonly aria-invalid="false">
                </div>
                <label class="col-md-2 form-control-label">Number of SiteDatas:</label>
                <div class="col-md-4">
                    <input type="text" class="form-control ng-pristine ng-valid ng-not-empty ng-touched" name="StudyRefForm" id="existingPublicationNumSite" ng-model="studyDTO.studyDetails.numSites" readonly aria-invalid="false">
                </div>
            </div>
            <div class="form-group row" ng-model="studyDTO.studyDetails">
                <label class="col-md-2" for="singleSelect">Study Type</label>
                <div class="col-md-4">
                    <select class="form-control" name="singleSelect" id="singleSelect" ng-model="studyDTO.studyDetails.studyType">
                        <option value="Case Report">Case Report</option>
                        <option value="Clinical Trial">Clinical Trial</option>
                    </select>
                </div>
                <label class="col-md-2 form-control-label">Study Ref:</label>
                <div class="col-md-4">
                    <input type="text" class="form-control ng-pristine ng-valid ng-not-empty ng-touched" name="StudyRefForm" id="existingPublicationStudyRef" ng-model="studyDTO.studyDetails.ref" aria-invalid="false">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-2 form-control-label">Publications:</label>
                <div class="col-md-10">
                    <input type="text" ng-repeat="publication in studyDTO.studyDetails.publicationss" class="form-control ng-pristine ng-valid ng-not-empty ng-touched" name="StudyPublicationsForm" id="existingPublicationStudyPublications" ng-model="publication.title" aria-invalid="false">
               </div>
            </div>
            <div class="form-group row">
                <button ng-click="deleteStudy(studyDTO)"
                        class="btn btn-danger btn-sm">
                    Remove Study
                </button>
            </div>
        <hr>
        <h2>SiteData details</h2>
        <div class="form-group row">
            <div class="col-md-2">
                <a class="btn btn-success" ng-click="newSiteData(studyDTO)">
                    Add SiteData
                </a>
            </div>
        </div>
        <div class="well" ng-repeat="siteData in studyDTO.siteDatas">
            <h3>SiteData {{$index+1}}:</h3>
           <div class="form-group row" ng-model="siteData">
               <label class="col-md-2 form-control-label">Id:</label>
               <div class="col-md-4">
                   <input type="text" class="form-control ng-pristine ng-valid ng-not-empty ng-touched" name="SiteDataCountryForm" id="existingPublicatiodsfnSDCountry" ng-model="siteData.id" readonly aria-invalid="false">
               </div>
               <label class="col-md-2" for="sigleSelect">Category</label>
               <div class="col-md-4">
                   <select class="form-control" ng-options="category.id as category.id +', '+category.name for category in categorys" name="singleSelect" id="sigleSelect" ng-model="siteData.category.id" >
                   </select>
               </div>
           </div>
            <div class="form-group row">
                <label class="col-md-2 form-control-label">Location:</label>
                <div class="input-group, col-md-6">
                        <input type="text" class="form-control" id="field_location" ng-model="siteData.location"
                               placeholder="Search"
                               uib-typeahead="location as location.country +',' +
                                location.location +', Longitude: '+location.longitude +
                                ', Latitude: '+location.latitude for location in allLocations
                                 | filter:$viewValue | limitTo:20"
                               typeahead-editable="false" ng-selected="selectedOne">
                </div>
                <div class="col-md-2">
                    <a class="btn btn-success" ng-click="newLocation(siteData)">Create new Location</a>
                </div>
            </div>
            <div class="form-group row" ng-model="siteData">
                <label class="col-md-2 form-control-label">upper95CI:</label>
                <div class="col-md-4">
                    <input type="text" class="form-control ng-pristine ng-valid ng-not-empty ng-touched" name="SiteDataUpper95Form" id="existingPublicationSDUpper95" ng-model="siteData.upper95CI" aria-invalid="false">
                </div>
                <label class="col-md-2 form-control-label">Lower95CI:</label>
                <div class="col-md-4">
                    <input type="text" class="form-control ng-pristine ng-valid ng-not-empty ng-touched" name="SiteDataLocationForm" id="existingPublicationSD" ng-model="siteData.lowest95CI" aria-invalid="false">
                </div>
            </div>
               <div class="form-group row" ng-model="siteData">
                   <label class="col-md-2 form-control-label">Year Start:</label>
                   <div class="col-md-4">
                       <input type="number" class="form-control ng-pristine ng-valid ng-not-empty ng-touched" name="SiteDataUpper95Form" id="existingPublicationSDYearStart" ng-model="siteData.yearStart" aria-invalid="false">
                   </div>
                   <label class="col-md-2 form-control-label">Year End:</label>
                   <div class="col-md-4">
                       <input type="number" class="form-control ng-pristine ng-valid ng-not-empty ng-touched" name="SiteDataLocationForm" id="existingPublcationSDYearEnd" ng-model="siteData.yearEnd" aria-invalid="false">
                   </div>
               </div>
               <div class="form-group row" ng-model="siteData">
                   <label class="col-md-2 form-control-label">Study Type:</label>
                   <div class="col-md-4">
                       <input type="text" class="form-control ng-pristine ng-valid ng-not-empty ng-touched" name="SiteDataUpper95Form" id="existingPublicationSDStudyType" ng-model="siteData.typeStudy" aria-invalid="false">
                   </div>
                   <label class="col-md-2 form-control-label">Number Enroled:</label>
                   <div class="col-md-4">
                       <input type="number" class="form-control ng-pristine ng-valid ng-not-empty ng-touched" name="SiteDataLocationForm" id="existingPublcationSDNumEnroled" ng-model="siteData.numEnroled" aria-invalid="false">
                   </div>
               </div>
               <div class="form-group row" ng-model="siteData">
                   <label class="col-md-2 form-control-label">Day 28 Recurrence:</label>
                   <div class="col-md-4">
                       <input type="text" class="form-control ng-pristine ng-valid ng-not-empty ng-touched" name="SiteDataUpper95Form" id="existingPublicationSDday28Recurrence" ng-model="siteData.day28Recurrence" aria-invalid="false">
                   </div>
                   <label class="col-md-2 form-control-label">Num Patients Treat CQ:</label>
                   <div class="col-md-4">
                       <input type="number" class="form-control ng-pristine ng-valid ng-not-empty ng-touched" name="SiteDataLocationForm" id="existingPublcationSDnumPatientsTreatCQ" ng-model="siteData.numPatientsTreatCQ" aria-invalid="false">
                   </div>
               </div>
               <div class="form-group row" ng-model="siteData">
                   <label class="col-md-2 form-control-label">Comments:</label>
                   <div class="col-md-10">
                       <input type="text" maxlength=250 class="form-control ng-pristine ng-valid ng-not-empty ng-touched" name="SiteDataUpper95Form" id="existingPublicationSDComments" ng-model="siteData.comments" aria-invalid="false">
                   </div>
               </div>
                <div class="form-group row">
                    <button ng-click="deleteSiteData(siteData, $index)"
                            class="btn btn-danger btn-sm">
                         Remove SiteData
                    </button>
                </div>
                <hr>
                <h4>Treatments for SiteData {{$index+1}}</h4>
            <div class="form-group row">
                <div class="input-group col-md-6" ng-repeat="treatment in siteData.treatments track by treatment.id">
                    <input type="text" class="form-control" ng-model="treatment" placeholder="Search" readonly
                           uib-typeahead="treatment as treatment.id
                            + ', ' +treatment.treatmentName+ ', ' +treatment.treatmentArmCode for treatment
                            in treatments | filter:$viewValue | limitTo:100" typeahead-editable="false">
                    <span class="input-group-btn">
                        <button class="btn btn-danger" type="button" ng-click="deleteTreatment($index, siteData)">X</button>
                    </span>
                </div>
                <div class="input-group col-md-6">
                    <input type="text" class="form-control" ng-model="treatment" placeholder="Search"
                           uib-typeahead="treatment as treatment.id
                            + ', ' +treatment.treatmentName+ ', ' +treatment.treatmentArmCode for treatment
                            in treatments | filter:$viewValue | limitTo:100" typeahead-editable="false"
                           typeahead-on-select="setTreatment($item)"
                           >
                    <span class="input-group-btn">
                        <button class="btn btn-danger" type="button" ng-click="deleteTreatment(treatment, siteData)">X</button>
                    </span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-6">
                    <a class="btn btn-primary btn-sm" ng-click="addTreatments(siteData)">
                        Add Treatment/s
                    </a>
                    <a class="btn btn-success btn-sm" ng-click="newTreatment($index, siteData)">
                        Create New Treatment
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-2">
            <a class="btn btn-success" ng-click="saveAll()">
                Save Publication
            </a>
        </div>
    </div>
</div>
</div>
